* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f2f2f2;
}


.fnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left:150px;
  height:64 ;
  width: 1285.6;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(146, 145, 145, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;

}

.left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.left img {
  width: 110px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color:white;
  padding: 6px 12px;
  border-radius: 4px;
  width: 549px;
  gap: 10px;
  border: 0.1px solid #f3f0f0;
  height: 35.6px;
  font-size:14px Roboto;
  font-style:sans-serif ;
  color: #999999;
}

.search-box i {
  color:#515050;
}



.search-box input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  font-size: 14px;
}

.right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.location {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.right button {
  background-color: rgb(248, 68, 100);
  border: none;
  color: white;
  padding: 6px 18px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  height: 25;
  width: 65;
  font: 12px Roboto,sans-serif;
}

.right i.fas.fa-bars {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  padding-right: 130px;
  height: 16;
  width: 24;

}


.sec-nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 50px;
  background-color: #f8f8f8;
  font:14px Roboto,sans-serif;
  padding-left:150px;
  padding-right: 130px;
}

.sec-nav .s-left {
  display: flex;
  gap: 25px;
  font:14px Roboto,sans-serif;
}

.sec-nav .s-right {
  display: flex;
  gap: 25px;
  font:12px Roboto,sans-serif;
}

.sec-nav p {
  cursor: pointer;
  color: #333;
}


.main img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}


.container,
.MusicStudio,
.outdoor {
  padding: 20px 50px;
}

.container h2,
.outdoor h2 {
  margin-bottom: 15px;
  color: #333;
  padding-left:110px;
}

.premiere h2 {
  margin-bottom:-2px;
  color:#fff;
  padding-left:110px;
  font-size:24px ;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.premiere p {

  margin-bottom: 14px;
  color:white;
  padding-left:110px;
  font-size: 14px ;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.premiere {
  padding: 20px 50px;
  background-color: #2B3148;
  gap:20px;
  padding-right: 5px;
  
}
.precard img{
  gap: 20px;
  height: 316px;
  width:230px;
  padding-right: 10px;
  border-radius: 15px;
 

}

.preimg{
  margin-left: 100px;
  padding-left: 10px;
width: 1285.6px;

  

}
.precard{
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
  padding-left: 110px;
  
 
}
.pre1 h3{
    font-size: 16px;
  margin: 8px 0 2px 0;
  font-weight: 600;
  color:#fff;
  text-align: left;
}
.pre1 p{
  font-size: 14px;
   color:#fff;
  margin: 0;
  text-align: left;
  padding-left:2px;
}  




.card {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
  padding-left: 110px;
}

.card div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 220px;
  margin-right: 15px;
}

.card img {
  width: 220px;
  height: 370px;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.03);
}

.card h3 {
  font-size: 18px;
  
  font-weight: 600;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card p {
  font-size: 16px;
  color: gray;
 
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.banner{
  display: block;
  padding-right:130px;
  padding-left:160px;

}
.banner img{
 width:1235px;

}
.Live {
  padding: 20px 50px;
  padding-left: 160px;
  gap: 20px;
  overflow-x: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
  padding-bottom:60px;
  
}

.Live h2 {
  margin-bottom: 15px;
  color: #333;
  padding-left:5px;
}



.img1{

  height: 220px;
  width: 220x;
  padding-left:5px;
  margin-right: 20px;
   border-radius: 10px;
}

.mh  {
  /* margin-bottom:-2px; */
  margin-bottom: -10px;
  color:#222222;
  font-size:24px ;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mp  {

   margin-bottom: -10px;
  color:grey;
  font-size: 18px ;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.footer {
  margin-top: 50px;
  padding: 40px;
  background-color: #333;
  color: white;
  text-align: center;
}

.movie-card {
  width: 200px; 
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  display: flex;
  gap:20px;

  
}

.movie-card img {
  width: 100%;
  height: 300px; 
  object-fit: cover;
  border-radius: 10px 10px 0 0;

 

}
.cont{
  gap:8px;

}


.rating {
  background: #000;
  color: #fff;
  font-size: 14px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}


.star {
  color: #e63946;
}

/* Movie title & genre */
.movie-info {
  padding: 6px 0;
  font:18px Roboto;
}

.movie-info h3 {
  font-size: 16px;
  margin: 4px 0 0;
  color: #000;
}

.movie-info p {
  font-size: 14px;
  color: gray;
  margin: 2px 0 0;
}
